* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAD0C9FF;
  padding: 10px;
}

.nav {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  background-color: #6E6E6DFF;
  max-width: 100vw;
}

.nav {
  fill: #FAD0C9FF;
}

.main {
  grid-area: main;
  display: grid;
}

.header h1 {
  font-size: 20px;
  color: #6E6E6DFF;
}

.header h3 {
  color: #6E6E6DFF;

}

.right-side {
  display: flex;
  align-items: center;
}

.bell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.bell-img {
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  fill: #6E6E6DFF;
}

/*https://codepen.io/Mrshcom/pen/bqmFg*/
.bell-img:hover {
  -webkit-animation: ring 4s .7s ease-in-out;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.header img {
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 40px;
}

#notification {
  position:absolute;
  background-color:#68ff00;
  top: 17px;
  right: 165px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.divider {
  border-left: 1px solid #6E6E6DFF;
  height: 50px;
  padding-right: 5px;
}

.nav-icon {
  height: 60px;
  width: 60px;
  padding: 5px 15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background: lightgrey;
}

.headline {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: white;
}

.main-header-search input{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: calc(100% - 20px);
}

.alert {
  background-color: #FAD0C9FF;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
}

.alert-banner {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.alert-banner p:last-child {
  cursor: pointer;
}

.traffic h3 {
  padding: 20px;
  font-weight: bold;
}

.traffic-nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-right: 10px;
}

.widget-container-full,
.widget-container-half,
.widget-container-half-1 {
  padding-left: 20px;
}

.daily h3,
.mobile h3,
.social h3,
.message h3 {
  padding: 20px;
  font-weight: bold;
}

.social-container {
  background: lightgrey;
  margin: 0px 20px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  border-radius: 10px;
  align-items: center;
}

.social-text p:first-of-type {
  padding-left: 5px;
  font-size: 15px;
}

.social-text p:last-child {
  font-size: 40px;
}

.social-icon {
  height: 50px;
  width: 50px;
  padding-right: 10px;
  fill: purple;
}

.members h3,
.activity h3 {
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}

.members-container,
.activity-container {
  display: block;
  text-align: center;
  padding: 30px;
}

.members-container img,
.activity-container img {
  height: 70px;
  border-radius: 70px;
}

.message-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-form-container input,
.message-form-container textarea,
.message-form-container button {
  margin-bottom: 15px;
  border-radius: 5px;
  height: 50px;
  background: lightgrey;
}

.message-form-container input {
  font-size: 18px;
}

.message-form-container input::placeholder {
  font-size: 13px;
}

.message-form-container textarea {
  height: 80px;
}

.message-form-container button {
  background-color: #FAD0C9FF;
  color: #6E6E6DFF;
}

.switch {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.switch strong {
  font-size: 15px;
}

#onOff {
  width: 20%;
  float: right;
  font-size: 10px;
}

.settings h3 {
  font-weight: bold;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.settings-button {
  text-align: center;
  margin: 30px 20px;
}

.timezone-form-field {
  width: calc(100% - 40px);
  margin: 20px 20px 0px 20px;
  border-radius: 5px;
  background-color: lightgrey;
  height: 40px;
}

#save,
#cancel {
  border-radius: 5px;
  text-align: center;
  width: 48%;
  height: 40px;
  margin-bottom: 30px;
  background-color: #FAD0C9FF;
  color: #6E6E6DFF;
}

#save {
  float: left;
}

#cancel {
  float: right;
}

.widget-container-full {
  width: 92vw;
}

.widget-container-half {
  width: 90vw;
}

@media (max-width: 767px) {
  .arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"    
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic,
  .social,
  .main-header,
  .alert,
  .members,
  .activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .daily {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-column: 2 / span 1;
  }

  .nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .alert {
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
  }

  .alert-banner {
    font-size: 20px;
  }

  .traffic-nav {
    display: flex;
    float: right;
    margin-right: 20px;
  }

  .traffic-nav-link {
    padding: 0px 20px;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    width: 29.3%;
    height: 100px;
    margin-right: 2px;
    margin-bottom: 10px;
    float: left;
    align-items: center;
  }

  .social-container:first-of-type {
    margin-left: 20px;
  }
  
  .social-icon {
    height: 50px;
    width: 50px;
    fill: purple;
  }

  .social-text p:first-of-type {
    font-size: 15px;
    font-weight: bold;
  }

  .social-text p:last-child {
    font-size: 30px;
  }

  .activity-container,
  .members-container {
    display: flex;
    justify-content: space-between;
  }

  .activity-splitter,
  .member-splitter {
    display: flex;
    flex-direction: row;
  }

  .activity-text,
  .members-text {
    text-align: start;
    margin: 15px;
  }

  .widget-container-full {
    width: 90vw;
    }

  .widget-container-half {
    width: 46vw;
  }
}

@media (min-width: 1024px) {
  .traffic,
  .social,
  .main-header,
  .alert {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  
  .social-container {
    width: 30.5%;
  }

  .message textarea {
    height: 125px;
  }

  .settings label {
    margin: 20px 0px;
  }

  .settings strong {
    font-size: 20px;
  }

  #save,
  #cancel {
    height: 50px;
  }
}